.card-main {
  position: relative;
  width: 31.5%;
  min-width: 227px;
  min-height: 20%;

  &--artist {
    position: relative;
    width: 31.5%;
    min-width: 227px;
    height: 20%;
  }

  @media only screen and (max-width: "600px") {
    width: 100%;
    height: auto;
  }
}

.card-actions {
  overflow: hidden;

  .action-btns {
    position: absolute;
    bottom: -14%;
    transition: bottom 0.2s ease-in-out;
  }

  & svg {
    cursor: pointer;
    margin-right: 0.4em;
  }
}

.card-main:hover .card-actions .action-btns {
  bottom: 10%;
}

.link-main {
  color: #868686;
  font-size: 14px;
}
